.constroction{
  text-align: center;
  border: blue;
}

html {
  scroll-behavior: smooth;
} 

/* HERO STYLES */
.full-hero {
  background-color: #fff;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 4vh;
}

.full-hero a {
  border: 2.5px solid rgb(227, 226, 226);
  color: rgb(251, 251, 251);
  border-radius: 99px;
  box-sizing: border-box;
  padding-top: 0.75em;
  display: inline-block;
  font-weight: bold;
  height: 2.5em;
  width: 2.5em;
  /* margin-left: 50%;
  margin-top: 83%; */
  font-size: 20px;
  text-align: center;
  bottom: 2vh;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}

.full-hero a:hover {
  border: 4.5px solid rgb(175, 220, 220);
  /* transition-delay: 2s */
  transition: all .5s ease;
}
/* .full-hero:after {
  bottom: 2vh;
  color: #fff;
  content: "﹀";
  font-size: 36px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
} */

/* .full-hero:after {
  border: 10px solid;
  border-color: #000 red purple blue;
  bottom: 2vh;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 0;
} */
 
 .hero-home {
  background-image: url(images/grassInHand.jpg);
  background-position: center top;
}

.hero-content {
  color: rgb(255, 255, 255);
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  transform: translate(0, -50%);
}

.hero-content h1 {
  color: rgba(95, 99, 99, 0.8);
  font-size: 6vw;
  margin-bottom: 0.25em;
  font-family: serif , helvetica, arial;
}

.hero-content h1 span {
  color: rgba(61, 64, 64, 0.8);
}


#loader-animation {
  margin-top: 40%;
  margin-left: 50%;
  height: 100vh;
  width: 100vw;
}

#loader {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}


 section {
    padding: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
 }

  /* .cardChild {
    position: absolute;
    margin: -25px 0 0 -25px;
  }  */

  #segment-style {
    margin: 1%;
   
  }


  .cardGroup {
   padding: 5%;
   background-color: rgb(246, 246, 246);
   position: relative;
   
   
  }

  .itemCard{
    align-items: center;
  }

  #CartDropDown{
    /* margin:".9285714em,1.14285714em" */
    margin: .9285714em 1.14285714em;
  }

  .navBar{
      border-bottom: cadetblue;
      margin-bottom: 0%;

  }



  #checkOut-divider {
    margin-left: 62%;
    margin-right: 4%;
    margin-bottom: 0%;
  }



  #itemHeader{
    margin-left: 32%;
    display: inline-block;
    border-bottom: rgb(213, 212, 212) 1px solid;
  }



  #itemSegment{
    margin-left: 2%;
    width: 50%;
    
  }

  #itemImage{
    float: left;
  }



/* Shopping cart  page */

  #itemName{
    margin-top: 5%;
  }

#checkout_page {
  display: flex;
}

 #checkout_page #checkout_page-items {
   flex: 1;
   
 }

#checkout_page-summery {
    flex: 0 0 20em;

 }

 /* #checkOutDiv{
   flex: 0 1 5em;
 } */

 .col {
  box-sizing: border-box;
  padding-top: 2em;
}

#checkout_page-items{
  margin-left: 5%;

  
}
#checkout_page-summery{
  margin-right: 5%;
}
  #checkOut-header{
    margin-left: 73.5%;
    padding: 0px;
    margin-bottom: 0px;
  }

  #checkOutSegment{
    flex: none;
    width: 40%;
    margin-top: 1.5%;
    background-color: rgba(244, 251, 243, 0.195);
  }



  #checkOut-text-1{
    margin-top: 1px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: darkcyan;
  }

  /* .checkOutDiv{
    width: 20rem;
    border-top: 1px solid rgb(210, 215, 210);
    padding-bottom: 2%;
    margin: 20px;
    margin-left: 68%;
  } */


  .alignleft {
    float: left;
   padding-left: 10px;
   margin-right: 3px;
   
  }

  .alignright {
    float: right;
    padding-right: 10px;
    margin-left: 3px;
  }

.textbox{
  overflow: hidden;
}

.pickUp{
  border-bottom: 1px solid rgb(67, 67, 67);
  margin-left: 0%;
  margin-right: 0%;
}

.buttonDiv{
  margin-left: 35%;
  margin-top: 9%;
  width: 100%;
}

.checkoutTimeLeft{
  text-align: center;
  margin-right: 60%;
  border-bottom: 2px solid black;
}

.countDownTimerDiv{
  margin-top: 10px;
}

#cart-submitted{
   /* box-shadow: 5px 10px #bae6bf; */
   border-color: #7fc87f;
   /* background-color: rgb(241, 249, 246); */
}

#placeOrder-message{
   width: 60%;
   margin-left: 20%;
   text-align: center;
  /*  
  position: fixed;
  z-index: 20;
  */
}

#uploadDownload-message{
 
  width: 60%;
  text-align: center;
  margin-left: 20%;
  position: fixed;
  z-index: 20;
}

#timer-digits{
  color: rgb(240, 121, 115);
}

#timer-digits-seconds{
  color: rgb(229, 59, 50);
}





/* Sign up form  */

#root > div.ui.center.aligned.middle.aligned.grid > div > div > ul{
  padding: 0;
  list-style-type: none;
  font-weight: bolder;
  font-family: fantasy;
}
.valid{
  color: #77b090;
}
.invalid{
  color: red;
}
ul li.valid:before {
  content: '✓';
  padding-right: 3px;
  margin-right: 2px;
}

#valid-input{
 background: #e1ffe6;
 border-color: #77b090;
 color: #76b08f;
 
}










/* Category page */



#category-segment-top{
  margin-bottom: -1%;
  margin-top: 0%;
  background-image: url("https://cdn.wallpapersafari.com/41/74/GEcUlX.jpg");
  background-size: 100% 100%;
  padding: 12%;
}

#category-segment-middle{
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 19%;
  padding-top: 16%;
  padding-bottom: 19%;
  background-size: 100% 100%;
  background-image: url("https://cdn.hipwallpaper.com/i/39/2/fXT0Br.jpg");
}


#category-segment-button{
  margin-bottom: 0%;
  margin-top: -1%;
  background-color: rgb(42, 40, 40);
  padding: 10%;
}


/* FOOTER STYLES */

.footer {
  background-color: rgb(0, 0, 0);
  padding: 10vh 0 15vh;
  text-align: center;
}

.footer h3 {
  color: #fff;
  padding-top: 1.5em;
  text-transform: uppercase;
}

.footer h3 span{
     color: rgb(175, 227, 209); 
}

.footer p {
  color: rgb(247, 247, 247);
  padding-top: 1.5em;
  text-transform: uppercase;
  margin-bottom: 7%;
}

#categorieCard{
  width: 25%;
  background-color: rgb(234, 234, 234);
  
}

#category-segment-button-div{ 
  margin-left: 60%;
}

#hover:hover {
  border: solid 3px rgb(74, 147, 193);
  transition: all .7s ease;
/* -moz-box-shadow: 5px 5px 0px #999;
-webkit-box-shadow: 5px 5px 0px #999;
  box-shadow: 5px 5px 0px rgb(219, 130, 130); */
  }







/*  User List Page */

#user_list{
  background-color: rgb(240, 240, 240);
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 5%;
}

#card-individual{

  padding-left: 20px;
}

#card-individual-button{
  margin-left: 12%;
}

#search-users{
  margin-top: 5%;
  margin-left: 45%;
}

/* CSV DOWNLOAD */

#csvDownload{
  text-align: center;
  color: #00b5ad;
  margin-bottom: 3%;
}


#scvButtons{
  margin-left: auto;
  margin-right: auto;
  width: 38rem;
  margin-bottom: 5%;
}

#WhatToBuyButton{
  margin-top: 1.5%;
  width: 91.65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

#uploadFiles{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  
}

.uploadButton{
  margin-bottom: 2%;
}

#uploadButton{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}
#delete30days{
  width: 60%;
  margin-left: 20%;
 margin-top: 10%;
  margin-bottom: 2%;
}

span > b {
  color: rgb(74, 147, 193);
}

/* persenal name baner */

.name-baner{
  text-align: center;
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: rgb(237, 237, 237);
}
.name-baner-text{
  /* display: inline-block; */
   padding-left: 5px;
   padding-top: 0px;

}




/* @media (max-width:850px) {
  #categorieCard{ width: 18%; }
} */












/*  Donate page */

/* #pay-button{
  margin-top: 20%;
  margin-left: 20%;
} */


/* body { */
  
  /* display: flex;
  justify-content: center;
  align-items: center;
  background: #242d60; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', */
  /* 'Helvetica Neue', 'Ubuntu', sans-serif; */
  /* height: 100vh; */
  /* margin: 0; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
/* } */

/* section {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  width: 43%;
  height: 112px;
  border-radius: 6px;
  justify-content: space-between;
}
.product {
  display: flex;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.154px;
  color: #242d60;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
img {
  border-radius: 6px;
  margin: 10px;
  width: 54px;
  height: 57px;
}
h3,
h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.154px;
  color: #242d60;
  margin: 0;
}
h5 {
  opacity: 0.5;
}
#checkout-button {
  height: 36px;
  background: #556cd6;
  color: white;
  width: 100%;
  font-size: 14px;
  border: 0;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.6;
  border-radius: 0 0 6px 6px;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}
#checkout-button:hover {
  opacity: 0.8;
} */